{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="page-title">
    <i class="bi bi-person-badge-fill"></i>
    Doctors
</h2>

    <a href="/doctors/add" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i>
        Add Doctor
    </a>

</div>

<div class="card shadow">

    <div class="card-body">

        <!-- Search Form -->
        <form method="GET" action="/doctors" class="mb-3">

            <div class="row">

                <div class="col-md-4">

                    <input
                        type="text"
                        name="search"
                        class="form-control"
                        placeholder="Search by Name or Specialization"
                        value="{{ search }}">

                </div>

                <div class="col-md-3">

                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                        Search
                    </button>

                    <a href="/doctors" class="btn btn-secondary">
                        Reset
                    </a>

                </div>

            </div>

        </form>

        <table class="table table-bordered table-hover">

            <thead class="table-primary">

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Department</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th width="180">Actions</th>

                </tr>

            </thead>

            <tbody>

                {% for doctor in doctors %}

                <tr>

                    <td>{{ doctor.doctor_id }}</td>

                    <td>{{ doctor.full_name }}</td>

                    <td>{{ doctor.specialization }}</td>

                    <td>{{ doctor.department_name }}</td>

                    <td>{{ doctor.phone }}</td>

                    <td>

                        {% if doctor.status=="Active" %}

                        <span class="badge bg-success">
                            Active
                        </span>

                        {% else %}

                        <span class="badge bg-danger">
                            Inactive
                        </span>

                        {% endif %}

                    </td>

                    <td>

                        <a href="/doctors/edit/{{ doctor.doctor_id }}"
                           class="btn btn-warning btn-sm">

                            <i class="bi bi-pencil-square"></i>

                        </a>

                        <a href="/doctors/delete/{{ doctor.doctor_id }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Delete this doctor?')">

                            <i class="bi bi-trash"></i>

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}