{% extends "base.html" %}

{% block title %}Rooms{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="page-title">
    <i class="bi bi-hospital-fill"></i>
    Rooms
</h2>

    <a href="/rooms/add" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Add Room
    </a>
</div>

<!-- Search Form -->
<form method="GET" action="/rooms" class="mb-3">

    <div class="row">

        <div class="col-md-4">

            <input
                type="text"
                name="search"
                class="form-control"
                placeholder="Search Room Number, Type or Status"
                value="{{ search }}">

        </div>

        <div class="col-md-3">

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i> Search
            </button>

            <a href="/rooms" class="btn btn-secondary">
                Reset
            </a>

        </div>

    </div>

</form>

<table class="table table-bordered table-hover">

    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Room No</th>
            <th>Type</th>
            <th>Floor</th>
            <th>Daily Charge</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for room in rooms %}

        <tr>

            <td>{{ room.room_id }}</td>

            <td>{{ room.room_number }}</td>

            <td>{{ room.room_type }}</td>

            <td>{{ room.floor_number }}</td>

            <td>{{ room.daily_charge }}</td>

            <td>
                {% if room.status == "Available" %}
                    <span class="badge bg-success">{{ room.status }}</span>

                {% elif room.status == "Occupied" %}
                    <span class="badge bg-danger">{{ room.status }}</span>

                {% else %}
                    <span class="badge bg-warning text-dark">{{ room.status }}</span>
                {% endif %}
            </td>

            <td>
                <a href="/rooms/edit/{{ room.room_id }}" class="btn btn-warning btn-sm">
                    Edit
                </a>

                <a href="/rooms/delete/{{ room.room_id }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this room?')">
                    Delete
                </a>
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}